// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)
html {
    font-size: 62.5%;
}
body {
    font-size: 1.5em; // currently ems cause chrome bug misinterpreting rems on body element
    line-height: 1.6;
    //  
}
html,
body {
    //    height: 100% !important;
    //    width: 100% !important;
    margin: 0px;
    padding: 0px;
}
.container {
    //    height: 500% !important;
    //    width: 100% !important;
    //    max-width: 1420px;dd
}
section,
.section,
.slide {
    background-size: cover;
    //    height: 20% !important;
    //    width: 100% !important;
    background-repeat: no-repeat;
    //    background-size: cover;
    //    max-width: 100%;
}
.home-contents {
    color: $HEX-Salmon-Flat;
    .slide {
        background-image: url('../slices/background-image-sHome.jpg');
        .content {
            .logo-container {
                padding: 10%;
                background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.5) 0%, transparent 50%);
                background: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.5) 0%, transparent 50%);
                background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, transparent 70%);
            }
        }
    }
    .content-container {
        display: table;
        padding-top: 80px;
        width: 100%;
        .column {
            display: table-cell;
            vertical-align: middle;
        }
    }
}
.about-a-contents {
    position: relative;
    color: $HEX-Salmon-Dark;
}
.about-b-contents {
    .slide {
        background-image: url("../slices/background-image-sAbout-b.jpg");
        color: $HEX-Pure-White;
        .content {
            h1.headline {
                color: $HEX-Pure-White;
            }
            h2.headline {
                color: $HEX-Pure-White;
            }
        }
    }
}
.cupcakery-contents {
    color: $HEX-Salmon-Flat;
    background-color: white;
    h1.headline {
        font-size: 30px;
    }
    p {
        &.copy {
            text-indent: 0px;
        }
    }
}
li {
    &.cupcake {
        img {
            width: 100%;
            height: 100%;
            min-width: 78px;
            max-width: 178px;
        }
    }
}
.midground-element {
    .bird-image {
        z-index: 0;
        position: absolute;
        top: 50%;
        bottom: 50%;
        margin: auto 0;
        max-width: 454px;
        max-height: 415px;
        height: 100%;
        width: 100%;
    }
}
.about-a-contents {
    .midground-element {
        .bird-image {
            z-index: -1;
        }
    }
}
.cupcakery-gallery-contents {
    padding: 0 0 5% 0;
    .slide {
        .content {
            p {
                &.copy {
                    color: $HEX-Salmon-Flat;
                    padding: 0px 10px;
                    &:nth-child(1) {
                        padding: 5% 0 0 0;
                    }
                }
            }
            ul.cupcake-items {
                @media only screen and (min-width: 415px) {
                    max-width: 356px;
                }
                @media only screen and (min-width:615px) {
                    max-width: 534px;
                }
                @media only screen and (min-width:820px) {
                    max-width: 712px;
                }
                @media only screen and (min-width:1025px) {
                    max-width: 890px;
                }
                margin: 0 auto;
                &:after {
                    clear: both;
                    content: '';
                    display: table;
                }
                li.cupcake-item {
                    @include rowMachine(2,
                    5px);
                    box-sizing: border-box;
                    width: 50%;
                    height: 50%;
                    padding: 10px;
                    max-width: 178px;
                    max-height: 178px;
                    list-style: none;
                    text-align: center;
                    float: left;
                    a {
                        img {
                            width: 100%;
                            height: 100%;
                            max-width: 178px;
                            max-height: 178px;
                        }
                    }
                    @media only screen and (min-width:415px) {
                        width: 100%;
                        height: 100%;
                        @include rowMachine(2,
                        10px);
                    }
                    @media only screen and (min-width:615px) {
                        @include rowMachine(3,
                        10px);
                    }
                    @media only screen and (min-width:820px) {
                        @include rowMachine(4,
                        10px);
                    }
                    @media only screen and (min-width:1025px) {
                        @include rowMachine(5,
                        10px);
                    }
                    //           @media only screen and (max-width:410px) {
                    //                @include rowMachine(5,10px);
                    //            }
                }
            }
        }
    }
}
//.sCupcakeryGallery .slide .content {
//    p.copy {}
//   
//    
//    
//    
//}
.boutique-contents {
    .slide {
        color: $HEX-Pure-White;
        //    background-color: beige;
        background-image: url(../slices/background-image-sBoutique-a.jpg);
        .content {
            h1 {
                &.headline {
                    color: $HEX-Pure-White;
                }
            }
        }
    }
}
ul.social-media-posts {
    li.post.facebook {
                    @include rowMachine(2,
                    5px);
        cursor: pointer;
        box-sizing: border-box;
       
        width: 45%;
        height: 45%;
        max-width: 159px;
        max-height: 159px;
        

        @media only screen and (min-width:710px) {
//            @include rowMachine(2,
//            5px,
//            'pink');
           
            width: 100%;
            height: 100%;
            max-width: 354px;
            max-height: 355px;
        }
        
//        @media only screen and (min-width:1062px) {
//            @include rowMachine(3,
//            15px,
//            'blue');
//        }
//        
//        @media only screen and (min-width:1420px) {
//            @include rowMachine(4,
//            25px,
//            'green');
//        }    
        
        
        
        padding: 0 0 0 0 !important;
        margin: 0 0 0 0 !important;
        list-style: none;
        text-align: center;
        float: left;
        position: relative;
        .hover-content-container {
            background: rgba(0, 0, 0, .5);
            height: 100%;
            .hover-content {
                position: absolute;
                background-color: rgba(0, 0, 0, 0.6);
                box-sizing: border-box;
                z-index: 10;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: inherit;
                min-width: 50px;
                min-height: 51px;
                margin: 0;
                padding: 45% 0px;
                .logo.facebook.icon {
                    width: 100%;
                    top: -15px;
                    position: relative;
                    height: 100%;
                }
                .visit-original-post {
                    img {
                        max-height: 30px;
                        max-width: 30px;
                        width: 100%;
                        height: 100%;
                    }
                    text-align: center;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
.news-contents {
    padding: 5% 0 3% 0;
    .slide {
        .content {
            h1.headline {
                color: $HEX-Salmon-Flat;
                
            }
            p.copy {
                color: $HEX-Salmon-Flat;
                text-align: center;
            }
            ul.social-media-posts {
                max-width: 354px;
                @media only screen and (min-width: 710px) {
                    max-width: 708px;
                }
                @media only screen and (min-width:1063px) {
                    max-width: 1062px;
                }
                @media only screen and (min-width:1440px) {
                    max-width: 1416px;
                }
                margin: 0 auto;
                &:after {
                    clear: both;
                    content: '';
                    display: table;
                }
                li.post.facebook {
                    //moved above to the main styles of this element ^
//                    @include rowMachine(1,
//                    5px);
                    cursor: pointer;
                    a {
                        padding: 0 0 0 0 !important;
                        margin: 0 0 0 0 !important;
                        position: relative;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: inherit;
                        display: block;
                        img {
                            
                            &.rollover-icon {
                                width: 100%;
                                height: 100%;
                                padding: 0 0 0 0 !important;
                                margin: 0 0 0 0 !important;
                                max-width: 50px;
                                max-height: 51px;
                                min-width: 30px;
                                min-height: 31px;
                            }
                        }
                    }
                    @media only screen and (min-width:710px) {
                        @include rowMachine(2,
                        5px,
                        'pink');
                        
                    }
                    @media only screen and (min-width:1062px) {
                        @include rowMachine(3,
                        15px,
                        'blue');
                    }
                    @media only screen and (min-width:1420px) {
                        @include rowMachine(4,
                        25px,
                        'green');
                    }
                }
            }
        }
    }
}
.contact-contents {
    .slide {
        #form-mailing-list-status-text.form-status-text-container .form-status-message {
            padding: 2% 0;
        }
        padding: 5% 0 0 0;
        color: $HEX-Pure-White;
        background-color: $HEX-Salmon-Flat;
        .company-information .vcard .adr .street-address {}
        .company-information .vcard .adr .locality {
            float: left;
            margin-right: 3px;
        }
        .company-information .vcard .adr .postal-code {
            float: left;
        }
        .company-information .vcard .adr .country-name {
            clear: both;
        }
        .company-information .vcard .adr .tel {}
        .company-information .vcard .adr .email {}
        .logo-container {
            margin: 0px 0px 30px 0px;
        }
        .content {
            position: relative;
            z-index: 1;
        }
    }
    .success {
        padding: 1em;
        margin-bottom: 0.75rem;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        color: #468847;
        background-color: #dff0d8;
        border: 1px solid #d6e9c6;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    .error {
        padding: 1em;
        margin-bottom: 0.75rem;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        color: #b94a48;
        background-color: #f2dede;
        border: 1px solid rgba(185, 74, 72, 0.3);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
}
.contact-contents form input {
    color: $HEX-Salmon-Flat !important;
}
#footer {
    background-color: $HEX-Salmon-Dark;
    text-align: center;
    div.social-media {
        ul.sm-icons {
            margin: 0 0 0 0;
            li.icon {
                padding: 10px 10px;
                margin: 0 0 0 0;
                display: inline-block;
                a {
                    text-decoration: none;
                    img {
                        width: 100%;
                        height: 100%;
                        max-width: 40px;
                        max-height: 41px;
                        min-width: 20px;
                        min-height: 21px;
                    }
                }
            }
        }
    }
}
ul {
    &.new-posts {
        &.post {
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            display: inline-block;
        }
    }
}
.gradient-3band {
    background: rgba(119, 183, 228, 0.1);
    background: -moz-linear-gradient(top, rgba(119, 183, 228, 0.1) 17%, rgba(119, 183, 228, 0.1) 20%, rgba(255, 163, 92, 0.1) 31%, rgba(255, 163, 92, 0.1) 40%, rgba(255, 163, 92, 0.1) 51%, rgba(255, 163, 92, 0.1) 64%, rgba(238, 223, 105, 0.1) 79%, rgba(235, 235, 107, 0.1) 82%);
    background: -webkit-gradient(left top, left bottom, color-stop(17%, rgba(119, 183, 228, 0.1)), color-stop(20%, rgba(119, 183, 228, 0.1)), color-stop(31%, rgba(255, 163, 92, 0.1)), color-stop(40%, rgba(255, 163, 92, 0.1)), color-stop(51%, rgba(255, 163, 92, 0.1)), color-stop(64%, rgba(255, 163, 92, 0.1)), color-stop(79%, rgba(238, 223, 105, 0.1)), color-stop(82%, rgba(235, 235, 107, 0.1)));
    background: -webkit-linear-gradient(top, rgba(119, 183, 228, 0.1) 17%, rgba(119, 183, 228, 0.1) 20%, rgba(255, 163, 92, 0.1) 31%, rgba(255, 163, 92, 0.1) 40%, rgba(255, 163, 92, 0.1) 51%, rgba(255, 163, 92, 0.1) 64%, rgba(238, 223, 105, 0.1) 79%, rgba(235, 235, 107, 0.1) 82%);
    background: -o-linear-gradient(top, rgba(119, 183, 228, 0.1) 17%, rgba(119, 183, 228, 0.1) 20%, rgba(255, 163, 92, 0.1) 31%, rgba(255, 163, 92, 0.1) 40%, rgba(255, 163, 92, 0.1) 51%, rgba(255, 163, 92, 0.1) 64%, rgba(238, 223, 105, 0.1) 79%, rgba(235, 235, 107, 0.1) 82%);
    background: -ms-linear-gradient(top, rgba(119, 183, 228, 0.1) 17%, rgba(119, 183, 228, 0.1) 20%, rgba(255, 163, 92, 0.1) 31%, rgba(255, 163, 92, 0.1) 40%, rgba(255, 163, 92, 0.1) 51%, rgba(255, 163, 92, 0.1) 64%, rgba(238, 223, 105, 0.1) 79%, rgba(235, 235, 107, 0.1) 82%);
    background: linear-gradient(to bottom, rgba(119, 183, 228, 0.1) 17%, rgba(119, 183, 228, 0.1) 20%, rgba(255, 163, 92, 0.1) 31%, rgba(255, 163, 92, 0.1) 40%, rgba(255, 163, 92, 0.1) 51%, rgba(255, 163, 92, 0.1) 64%, rgba(238, 223, 105, 0.1) 79%, rgba(235, 235, 107, 0.1) 82%);
    //    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#77b7e4', endColorstr='#ebeb6b', GradientType=0);
}
// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––
// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––
hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid $HEX-LightGray;
}
.cupcakes-n-sweets {
    //    paddig-top: 40px;
    margin-left: 2%;
    top: 0;
    position: relative;
}
.cupcake-image {
    position: relative;
    left: 0;
}
.cupcakes-n-sweets {
    h1.headline {
        text-align: center;
    }
    position: relative;
    left: 0;
}
.newsletter-input-fName {}
.newsletter-input-lName {}
.newsletter-input-eMail {}
.newsletter-input-submitButton {}
form#email-subscription-signup {
    position: relative;
    top: 0;
    input.newsletter-input-fName, //    input.newsletter-input-lName,
    input.newsletter-input-eMail {
        margin-left: 0;
    }
}
