// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)
html {
    font-size: 62.5%;
}
body {
    font-size: 1.5em; // currently ems cause chrome bug misinterpreting rems on body element
    line-height: 1.6;
    //  
}
html,
body {
    //    height: 100% !important;
    //    width: 100% !important;
    margin: 0px;
    padding: 0px;
}
.container {
    //    height: 500% !important;
    //    width: 100% !important;
    //    max-width: 1420px;dd
}
section,
.section,
.slide {
    background-size: cover;
    //    height: 20% !important;
    //    width: 100% !important;
    background-repeat: no-repeat;
    //    background-size: cover;
    //    max-width: 100%;
}
.home-contents {
    color: $HEX-Salmon-Flat;
    .slide {
        background-image: url('../slices/background-image-sHome.jpg');
    }
    .content-container {
        display: table;
        padding-top: 80px;
        width: 100%;
        .column {
            display: table-cell;
            vertical-align: middle;
        }
    }
}
.about-a-contents {
    position: relative;
    //    max-height: 600px;
    color: $HEX-Salmon-Dark;
}
.about-b-contents {
    .slide {
        background-image: url("../slices/background-image-sAbout-b.jpg");
        color: $HEX-Pure-White;
        .content {
            h1.headline {
                color: $HEX-Pure-White;
            }
            h2.headline {
                color: $HEX-Pure-White;
            }
        }
    }
}
.cupcakery-contents {
    color: $HEX-Salmon-Flat;
    background-color: white;
    h1.headline {
        font-size: 30px;
    }
    p {
        &.copy {
            text-indent: 0px;
        }
    }
}
li {
    &.cupcake {
        img {
            width: 100%;
            height: 100%;
            min-width: 78px;
            max-width: 178px;
        }
    }
}
.midground-element {
    .bird-image {
        z-index: -1;
        position: absolute;
        top: 50%;
        bottom: 50%;
        margin: auto 0;
        max-width: 454px;
        max-height: 415px;
        height: 100%;
        width: 100%;
    }
}
.sCupcakeryGallery .slide .content {
    p.copy {
        color: $HEX-Salmon-Flat;
        padding: 0px 10px;
    }
    ul.cupcake-items {
        max-width: 1025px;
        margin: 0 auto;
        &:after {
            clear: both;
            content: '';
            display: table;
        }
        li.cupcake-item {
            @include rowMachine(2,5px);
            width: 100%;
            height: 100%;
            max-width: 178px;
            max-height: 178px;
            list-style: none;
            text-align: center;
            float: left;
            a {
                img {
                    width: 100%;
                    height: 100%;
                    max-width: 178px;
                    max-height: 178px;
                }
            }
           @media only screen and (min-width:415px) {
                @include rowMachine(2,10px);
            }
            @media only screen and (min-width:615px) {
                @include rowMachine(3,10px);
            }
           @media only screen and (min-width:820px) {
                @include rowMachine(4,10px);
            }
           @media only screen and (min-width:1025px) {
                @include rowMachine(5,10px);
            }
//           @media only screen and (max-width:410px) {
//                @include rowMachine(5,10px);
//            }
        }
    }
}
.boutique-contents .slide {
    color: $HEX-Pure-White;
    //    background-color: beige;
    background-image: url(../slices/background-image-sBoutique-a.jpg);
}
.news-contents {
    .slide {
        .content {
            h1.headline {
                color: $HEX-Salmon-Flat;
            }
            p.copy {
                color: $HEX-Salmon-Flat;
            }
        }
    }
}
.contact-contents {
    .slide {
        color: $HEX-Pure-White;
        background-color: $HEX-Salmon-Flat;
        .logo-container {
            margin: 0px 0px 30px 0px;
        }
        .content {
            position: relative;
            z-index: 1;
        }
    }
}
.contact form input {
    color: $HEX-Salmon-Flat;
}
#footer {
    background-color: $HEX-Salmon-Dark;
    text-align: center;
    div.social-media {
        ul.sm-icons {
            li.icon {
                padding: 2% 2% 2% 2%;
                margin: 0 0 0 0;
                display: inline-block;
                a {
                    text-decoration: none;
                }
            }
        }
    }
}
ul {
    &.new-posts {
        &.post {
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            display: inline-block;
        }
    }
}
.gradient-3band {
    background: rgba(119, 183, 228, 0.1);
    background: -moz-linear-gradient(top, rgba(119, 183, 228, 0.1) 17%, rgba(119, 183, 228, 0.1) 20%, rgba(255, 163, 92, 0.1) 31%, rgba(255, 163, 92, 0.1) 40%, rgba(255, 163, 92, 0.1) 51%, rgba(255, 163, 92, 0.1) 64%, rgba(238, 223, 105, 0.1) 79%, rgba(235, 235, 107, 0.1) 82%);
    background: -webkit-gradient(left top, left bottom, color-stop(17%, rgba(119, 183, 228, 0.1)), color-stop(20%, rgba(119, 183, 228, 0.1)), color-stop(31%, rgba(255, 163, 92, 0.1)), color-stop(40%, rgba(255, 163, 92, 0.1)), color-stop(51%, rgba(255, 163, 92, 0.1)), color-stop(64%, rgba(255, 163, 92, 0.1)), color-stop(79%, rgba(238, 223, 105, 0.1)), color-stop(82%, rgba(235, 235, 107, 0.1)));
    background: -webkit-linear-gradient(top, rgba(119, 183, 228, 0.1) 17%, rgba(119, 183, 228, 0.1) 20%, rgba(255, 163, 92, 0.1) 31%, rgba(255, 163, 92, 0.1) 40%, rgba(255, 163, 92, 0.1) 51%, rgba(255, 163, 92, 0.1) 64%, rgba(238, 223, 105, 0.1) 79%, rgba(235, 235, 107, 0.1) 82%);
    background: -o-linear-gradient(top, rgba(119, 183, 228, 0.1) 17%, rgba(119, 183, 228, 0.1) 20%, rgba(255, 163, 92, 0.1) 31%, rgba(255, 163, 92, 0.1) 40%, rgba(255, 163, 92, 0.1) 51%, rgba(255, 163, 92, 0.1) 64%, rgba(238, 223, 105, 0.1) 79%, rgba(235, 235, 107, 0.1) 82%);
    background: -ms-linear-gradient(top, rgba(119, 183, 228, 0.1) 17%, rgba(119, 183, 228, 0.1) 20%, rgba(255, 163, 92, 0.1) 31%, rgba(255, 163, 92, 0.1) 40%, rgba(255, 163, 92, 0.1) 51%, rgba(255, 163, 92, 0.1) 64%, rgba(238, 223, 105, 0.1) 79%, rgba(235, 235, 107, 0.1) 82%);
    background: linear-gradient(to bottom, rgba(119, 183, 228, 0.1) 17%, rgba(119, 183, 228, 0.1) 20%, rgba(255, 163, 92, 0.1) 31%, rgba(255, 163, 92, 0.1) 40%, rgba(255, 163, 92, 0.1) 51%, rgba(255, 163, 92, 0.1) 64%, rgba(238, 223, 105, 0.1) 79%, rgba(235, 235, 107, 0.1) 82%);
    //    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#77b7e4', endColorstr='#ebeb6b', GradientType=0);
}
// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––
// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––
hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid $HEX-LightGray;
}
.cupcakes-n-sweets {
    //    paddig-top: 40px;
    margin-left: 2%;
    top: 0;
    position: relative;
}
.cupcake-image {
    position: relative;
    left: 0;
}
.cupcakes-n-sweets {
    h1.headline {
        text-align: center;
    }
    position: relative;
    left: 0;
}
.newsletter-input-fName {}
.newsletter-input-lName {}
.newsletter-input-eMail {}
.newsletter-input-submitButton {}
form#email-subscription-signup {
    position: relative;
    top: 0;
}
