// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}
//h1 {
//    font-size: 4.0rem;
//    line-height: 1.2;
//    letter-spacing: -.1rem;
//}
h2 {
    font-size: 3.6rem;
    line-height: 1.25;
    letter-spacing: -.1rem;
}
h3 {
    font-size: 3.0rem;
    line-height: 1.3;
    letter-spacing: -.1rem;
}
h4 {
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -.08rem;
}
h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -.05rem;
}
h6 {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0;
}
body {
    font-size: 1.5em; // currently ems cause chrome bug misinterpreting rems on body element
    line-height: 1.6;
    //  
    color: $font-color_a;
    p.copy {
        font-family: $font-family-copy;
    }
    //these are alll mobile first styles
    section {
        .slide {
            .content {
                h1.headline {
                    font-family: $font-family-headline-main !important;
                    color: $HEX-Salmon-Flat;
                    text-align: center;
                    font-size: 12px;
                    margin: 0 0 0 0;
                }
                h2.headline {
                    font-family: $font-family-headline-second !important;
                    color: $HEX-Salmon-Flat;
                    text-align: center;
                    font-size: 3.5rem;
                }
            }
        }
       
        &.contact-contents {
            .slide {
                .content {
                    .form-container {
                        h1.headline.join-mailing-list {
                            text-align: left;
                            font-family: $font-family-headline-second !important;
                            font-size: 36px !important;
                            color: $HEX-Pure-White;
                        }
                    }
                }
            }
        }
        &.contact-contents {
            .slide {
                .content {
                    .company-hours {
                        h1.headline {
                            text-align: left;
                            color: $HEX-Pure-White;
                            font-family: $font-family-headline-second !important;
                        }
                    }
                }
            }
        }
        &.contact-contents {
            .slide {
                .content {
                    .company-information {
                        .vcard {
                            h1.headline {
                                font-family: $font-family-headline-second !important;
                                color: $HEX-Pure-White;
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
        &.boutique-contents {
            .slide {
                .content {
                    h1.headline.page-title {
                        color: $HEX-Pure-White;
                    }
                    h2.headline {
                        color: $HEX-Pure-White;
                    }
                }
            }
        }
    }
}


 body section.contact-contents .slide .content h1.headline{font-size: 36px;}

/*  THIS IS FOR  THE JOIN THE MAILING LIST HEADLINE ON CONTACT PAGE - BREAKS FOR A MOMENT BEFORE BECMOING SMALLER */

//
//
//@media (#{$bp-larger-than-desktophdPLUS35}) {
//    //////
//    body {
//
//        section {
//            &.contact-contents {
//                .content {
//                    .form-container {
//                        h1.headline.join-mailing-list {
//                            text-align: left;
//                            font-family: $font-family-headline-second !important;
//                            font-size: 28px;
//                            color: $HEX-Pure-White;
//                        }
//                    }
//                }
//            }
//        }
//    }
//    //////
//}
//
// Larger than phablet
@media (#{$bp-larger-than-phablet}) {
    h1 {
        font-size: 5.0rem;
    }
    h2 {
        font-size: 4.2rem;
    }
    h3 {
        font-size: 3.6rem;
    }
    h4 {
        font-size: 3.0rem;
    }
    h5 {
        font-size: 2.4rem;
    }
    h6 {
        font-size: 1.5rem;
    }
}
p {
    margin-top: 0;
}
