// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––
.u-full-width {
    width: 100%;
    box-sizing: border-box;
}
.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}
.u-full-width-center {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.u-pull-right {
    float: right;
}
.u-pull-left {
    float: left;
}
///make mixin to enter in max w/h later!!!
.responsive-img-cupcakes {
    width: 100%;
    height: 100%;
    max-width: 779px;
    max-height: 738px;
    //    max-width: 927px;
    //    max-height: 734px;
}
///make mixin to enter in max w/h later!!!
.responsive-fb-post {
    width: 100%;
    height: 100%;
    max-width: 354px;
    max-height: 355px;
}
///make mixin to enter in max w/h later!!!
.responsive-home-logo {
    width: 100%;
    height: 100%;
    max-width: 610px;
    max-height: 180px;
    min-width: 300px;
    min-height: 89px;
}
.dshadow {
    -webkit-filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.4));
}
.u-select-none {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}
