        /* ------------------- <skeleton MQue files> */
        
        // Note: The best way to structure the use of media queries is to create the queries
        // near the relevant code. For example, if you wanted to change the styles for buttons
        // on small devices, paste the mobile query code up in the buttons section and style it
        // there.
        div.content {
            padding: 5%;
        }
        form#email-subscription-signup {
            position: relative;
            top: 0;
        }
        //
        ///
        ////
        /////
        //////
        //////
        //---->    STYLES FOR ELEMENTS @ BROWSER $bp-larger-than-desktop
        //////
        /////
        ////
        ///
        //
        @media (#{$bp-larger-than-mobile}) {
            .cakes-n-sweets {
                margin: 80px 0 0 0;
                padding: 0 0 0 0;
                h1.headline {
                    text-align: left;
                }
            }
            ul.prices,
            div.content {
                padding: 0;
            }
            ///
            ////
            /////
            //////////// contact us section
            /////
            ////
            ///
            div.content {
                padding: 5%;
            }
        }
        //
        ///
        ////
        /////
        //////
        //////
        //---->    STYLES FOR ELEMENTS @ BROWSER $bp-larger-than-phablet (also when grid becomes active)
        //////
        /////
        ////
        ///
        //
        @media (#{$bp-larger-than-phablet}) {
            div.content {
                padding: 0;
            }

            .contact-contents {
                div.content {
                    padding: 0;
                    form#email-subscription-signup {
                        position: relative;
                        width: 100%;
                    }
                    .offset-by-two.column,
                    .offset-by-two.columns {
                        margin-left: 7.333333%;
                    }
                    .form-container {
                        width: 58%;
                        h1.headline.join-mailing-list {
                            width: 100%;
                        }
                        .row {
                            .six.columns {
                                width: 50%;
                            }
                        }
                        input.newsletter-input-eMail {
                            width: 90%;
                        }
                    }
                    #submit-mailing-list-signup {
                        width: 30%;
                    }
                }
            }
        }
        //
        ///
        ////
        /////
        //////
        //////
        //---->    STYLES FOR ELEMENTS @ BROWSER $bp-larger-than-tablet
        //////
        /////
        ////
        ///
        //
        @media (#{$bp-larger-than-tablet}) {
            .contact-contents {
                div.content {
                    padding: 0;
                    form#email-subscription-signup {
                        position: relative;
                        width: 100%;
                    }
                    .offset-by-two.column,
                    .offset-by-two.columns {
                        margin-left: 17.333333%;
                    }
                    .form-container {
                        width: 40%;
                        h1.headline.join-mailing-list {
                            width: 100%;
                        }
                        .row {
                            .six.columns {
                                width: 51%;
                            }
                        }
                        input.newsletter-input-eMail {
                            width: 90%;
                        }
                    }
                    #submit-mailing-list-signup {
                        width: 30%;
                    }
                }
            }
        }
        //
        ///
        ////
        /////
        //////
        //////
        //---->    STYLES FOR ELEMENTS @ BROWSER $bp-larger-than-tabletPLUS50px / 80px
        //////
        /////
        ////
        ///
        //
        @media (#{$bp-larger-than-tabletPLUS50px}) {}
        @media (#{$bp-larger-than-tabletPLUS80px}) {}
        //
        ///
        ////
        /////
        //////
        //////
        //---->    STYLES FOR ELEMENTS @ BROWSER $bp-larger-than-desktop
        //////
        /////
        ////
        ///
        //
        @media (#{$bp-larger-than-desktop}) {
            .cupcake-image {
                position: relative;
                left: -50px;
            }
            .cupcakes-n-sweets {
                position: relative;
                left: -30px;
                top: 100px;
                margin: 0 0 0 2%;
            }
        }
        //
        ///
        ////
        /////
        //////
        //////
        //---->    STYLES FOR ELEMENTS @ BROWSER LARGER bp-larger-than-desktopPLUS25px (1025px)
        //////
        /////
        ////
        ///
        //
        @media (#{$bp-larger-than-desktopPLUS25px}) {
            body {
                font-size: 1.5em; // currently ems cause chrome bug misinterpreting rems on body element
                line-height: 1.6;
                //  
                color: $font-color_a;
                p.copy {
                    font-family: $font-family-copy;
                }
                section {
                    .slide {}
                    &.contact-contents {
                        .content {
                            .form-container {
                                h1.headline.join-mailing-list {
                                    text-align: left;
                                    font-family: $font-family-headline-second !important;
                                    font-size: 36px;
                                    color: $HEX-Pure-White;
                                }
                            }
                        }
                    }
                }
            }
        }
        // Larger than Desktop HD
        @media (#{$bp-larger-than-desktophd}) {
            .cupcake-image {
                position: relative;
                left: 0;
            }
            .cupcakes-n-sweets {
                position: relative;
                left: -30px;
                top: 230px;
                margin: 0 0 0 2%;
            }
        }
        /*  -----------</ skeleton scss media-queries end > ----------- */
